<!DOCTYPE html>

<head>
  <title>Chat</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/img/favicon.png">
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
  <div class="centered-form">
    <div class="centered-form__box">
      <h1>Create</h1>
      <p class="error-message">{{error}}</p>
      <form action="/create" method="POST">
        <label for="">Your Display Name</label>
        <input type="text" name="username" placeholder="Name" required value={{username}}>
        <label for="">Room Password (Optional)</label>
        <input type="password" name="password" placeholder="Password">
        <button id="createRoomBtn" type="submit">Create room</button>
      </form>
      <div class="linkDiv">
        <a href="./" class="link">Join a room</a>
      </div>
    </div>
  </div>
  <script src="/js/general.js"></script>
</body>